/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #fdf0d5;
}

 h1 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    color: #003049;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: none;
    padding: 1rem 2vw;

}

nav button {
    background-color: #669BcB;
    border-color: none;
    color: white;
    padding: .9rem 2rem;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    text-align: center;

}
#allCards {
    display: flex;
    flex-wrap: wrap;
}

#allCards figure {
    margin: 10px 2%;
    padding: 0;
    flex-basis: 46%;
    width: 150px;
    border-radius: 10px;
   
}
#allCards figure.republican{
    border: solid #780000;
    color: white;
    background-color: #780000;
}

#allCards figure.democrat {
    border: solid #003049;
    color:white;
    background-color: #003049;
}

#allCards figure.male {
    border: solid orange;
    color:white;
    background-color: orange;
}

#allCards figure.female {
    border: solid pink;
    color: white;
    background-color: pink;
}




#allCards img {
    width:100%;
    display: block;
    
}
#allCards figcaption {
    text-align: center;
}

#allCards figure img {
    width: 100%;
    border-radius: 9px 9px 0 0;
}

footer {
    text-align: center;
    
}