/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body.makeGrid div{background-color: rgba(39, 39, 108, 0.673);}
body.makeGrid div h1 {color: black;}

body.makeList div{background-color: rgba(39, 39, 108, 0.673);}
body.makeList div h1 {color: bisque;}

/** btton swticher */

body.makeList header #listImage { 
    display: none;}
body.makeList header #gridImage { 
    display: block;}

body.makeGrid header #listImage {
    display:block;}
body.makeGrid header #gridImage {
    display: none;}


body.makeList .parent{
    display: grid;
    grid-template-columns: 1fr;
}

body.makeGrid .parent{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
body.makeGrid .parent section{
    display: grid;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px black;
}
body.makeList .parent section {
    display: grid;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px black;
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color:yellow;
    text-align: center;
    background-color: black;
    padding: none;
}
h2 {
    color:yellow;
    background-color: black;
}

footer {
    text-align: center;
    background-color: black;
    color: yellow;
}
.highlight-text {
    font-weight: bold;

}
header{
    background-color: rgba(39, 39, 108, 0.673);
    display: center;
    padding: none;
}









